<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="google-site-verification" content="lQJ5FZKR_BmkyriFCeat-m12YkhkSMWvxbB41dGU9xM">

        <title>Crowe VPN - login</title>

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Fonts and Dashmix framework -->
        <link rel="stylesheet" href="{% static 'vpn-assets/css.css'%}">
        <link rel="stylesheet" id="css-main" href="{% static 'vpn-assets/dashmix.min.css'%}">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/xwork.min.css"> -->
        <!-- END Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'vpn-assets/fonts.css'%}">
    </head>
    <body><style type="text/css">
    .group-log-wrapper{
        background-image: url('https://www.ais.net.my/tpos/assets/media/logo/TPOS LOGO.png');
        padding: 20px 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .group-log-wrapper .text-warning{
        margin-top: 40px;
    }
    .error,.error p.text-danger{
        margin: 0px;
    }
    </style>
    <div id="content">

        {% include 'authentication/messages.html' %}

        {% block content %}  {% endblock content %}
        
    </div>
    <div id="page-container" class="side-trans-enabled">
    <!-- Main Container -->
    <main id="main-container">

        <!-- Page Content -->
        <div class="bg-image" style="background-image: url({% static 'vpn-assets/login-banner.png'%});">
            <div class="row no-gutters bg-primary-op justify-content-center">
                <!-- Meta Info Section -->
                <div class="hero-static col-md-6 d-none d-md-flex align-items-md-center justify-content-md-center text-md-center">
                    <div class="p-3">
                        <p class="mb-4">
                            <img src="{% static 'vpn-assets/Crowe%20Logo%20PMS130%20282-01.png'%}">
                        </p>
						<p class="mb-4">
                            <img src="{% static 'vpn-assets/user.png'%}">
                        </p>
                        <p class="font-size-lg font-w600 text-warning mb-4">
                            Crowe VPN Password Policy<span class="text-white"></span>
                        </p>
                        <!-- <form class="js-validation-signin" action="auth/login" method="post" novalidate="novalidate"> -->
                        <p class="font-size-lg font-w300 text-warning mb-2">Password should consist of minimum of 8 characters and contain characters as below:</p>
                        <p class="font-size-lg font-w300 text-warning mb-2">1. Uppercase letters: A-Z</p>
                        <p class="font-size-lg font-w300 text-warning mb-2">2. Lowercase letters: a-z</p>
                        <p class="font-size-lg font-w300 text-warning mb-2">3. Numbers: 0-9</p>
                        <p class="font-size-lg font-w300 text-warning mb-2">4. Symbols: ~`! @#$%^&*()_-+={[}]|\:;"'<,>.?/</p>
                    </div>
                </div>
                <!-- END Meta Info Section -->
            </div>
        </div>
        <!-- END Page Content -->

    </main>
    <!-- END Main Container -->
</div>
<!-- END Page Container -->		
		<script src="{% static 'vpn-assets/dashmix.core.min.js'%}"></script><div style="position: static !important;"></div>
        <script src="{% static 'vpn-assets/dashmix.app.min.js'%}"></script>
        <script src="{% static 'vpn-assets/jquery.validate.min.js'%}"></script>
        <script src="{% static 'vpn-assets/op_auth_signup.min.js'%}"></script>
        <script>
            setTimeout(function(){
              if ($('#msg').length > 0) {
                $('#msg').remove();
              }
            }, 5000)
        </script> 
    
<iframe style="display: none;"></iframe><hv-copy-modal></hv-copy-modal></body></html>